@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e90ff; /* Royal Blue */
  --accent: #ffd700; /* Soft Yellow */
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 1s ease-out;
}
