@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e90ff; /* Royal Blue */
  --accent: #ffd700; /* Soft Yellow */
}

html,
body {
  scroll-behavior: smooth;
}
